<div>
    <h1>Product List</h1>
    <div class="prod-list">
        {{#each products}}
        <div class="prod" id="{{this._id}}">
            <h2>{{this.title}}</h2>
            <img src={{this.thumbnails}} alt="">
            <p><strong>Price:</strong> ${{this.price}}</p>
            <p><strong>Stock:</strong> {{this.stock}}</p>
            <button class="add-to-cart-btn" onclick="addToCart('{{this._id}}')">Add to Cart</button>
        </div>
        {{/each}}
    </div>
    
    <div class="pagination">
        {{#if prevLink}}
            <a href="{{prevLink}}">Previous</a>
        {{/if}}
        
        {{#if nextLink}}
            <a href="{{nextLink}}">Next</a>
        {{/if}}
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io()
</script>