<div>
    <h1>Product List with socket</h1>
    <div id="product-container" class="product-list">
      {{#each products}}
      <div class="product" id="{{this._id}}">
        <h2>{{this.title}}</h2>
        <img src={{this.thumbnails}} alt="">
        <p><strong>Price:</strong> ${{this.price}}</p>
        <p><strong>Stock:</strong> {{this.stock}}</p>
        <button class="delete-btn" onclick="deleteProductWithSocket('{{this._id}}')">Delete</button>
      </div>
      {{/each}}
    </div>
</div>


  <form class="form" action="/realtimeProducts" method="POST">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" name="description" required></textarea>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" id="price" name="price" step="0.01" required>
    </div>
    <div class="form-group">
      <label for="code">Code:</label>
      <input type="text" id="code" name="code" required>
    </div>
    <div class="form-group">
      <label for="stock">Stock:</label>
      <input type="number" id="stock" name="stock" required>
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
  </form>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io()
</script>



{{!-- mismo codigo del index pero con los scripts --}}





