<div class="container">
  <h2 class="text-center my-2">Cart</h2>
  <br />
  <div style="padding: 10px;">
    <div class="row">
      {{#each cartProducts}}
        <div class="col-sm-4">
          <div class="card mb-4">
            <div class="card-header">
              <h3 class="card-title">{{idProduct.title}}</h3>
            </div>
            <div class="card-body card-body-style">
              <p class="card-text">ID: {{idProduct._id}}</p>
              <p class="card-text">Description: {{idProduct.description}}</p>
              <p class="card-text">Price: ${{idProduct.price}}</p>
              <p class="card-text">Code: {{idProduct.code}}</p>
              <p class="card-text">Stock: {{idProduct.stock}}</p>
              <p class="card-text">Category: {{idProduct.category}}</p>
              <p class="card-text">Thumbnail: {{idProduct.thumbnail}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>